.env
# Byte-compiled / cache
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]

# SQLite DB
*.sqlite3
instance/db.sqlite3

# Environment files
.env
.env.*
.env.render

# VSCode/IDE
.vscode/
*.swp

# OS files
.DS_Store

# Migrations cache
migrations/__pycache__/

# Docker
*.pid.env.render
